
<div class="row">
  <div class="col-12">
    <h1>Places</h1>
  </div>
</div>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= place["name"] %></h5>
          <p>
            <a href="/places/<%= place["id"] %>" class="btn btn-primary">View Details</a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if session["user_id"] %>
  <p class="mt-3">
    <a href="/places/new" class="btn btn-success">New Place</a>
  </p>
<% end %>
