
<div class="container">
  <h1 class="mb-4">My Places</h1>
  
  <% if @current_user %>
    <%= link_to "New Place", "/places/new", class: "btn btn-primary mb-4" %>
  <% end %>

  <div class="row">
    <% @places.each do |place| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= place.name %></h5>
            <p class="card-text"><%= place.description %></p>
            <%= link_to "View Details", "/places/#{place.id}", class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
