
<div>
  <h1>Places</h1>
  
  <p><a href="/places/new" class="button">New Place</a></p>

  <% for place in @places %>
    <p>
      <a href="/places/<%= place["id"] %>">
        <%= place["name"] %>
      </a>
    </p>
  <% end %>
</div>
